<% layout('layout') %>

<h1><%= title %></h1>

<form method="get" action="/subscriptions/plans">
  <div class="row">
    <div class="col-lg-6">
      <label>Status: </label>
      <select name="status">
        <option value="active" selected="selected">ACTIVE</option>
        <option value="created">CREATED</option>
        <option value="inactive">INACTIVE</option>
      </select>
    </div>
    <div class="col-lg-6">
      <label>Page Number: </label>
      <input type="number" name="page" value="<%= data.inputParams['page'] %>">
    </div>
    <div class="col-lg-6">
      <label>Page Size: </label>
      <input type="number" name="page_size" value="<%= data.inputParams['page_size'] %>">
    </div>
    <div class="col-lg-6">
      <button type="submit" class="btn btn-info">Search</button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-lg-6">
    <% if (JSON.stringify(error) !== '{}') { %>
      <h2>API call Failed</h2>
      <pre><code><%= errorStr %></code></pre>
    <% } %>
    <% if (data.plansStr) { %>
      <h2>Result (<%= data.planCount || 0 %>)</h2>
      <pre><code><%= data.plansStr %></code></pre>
    <% } %>
  </div>
</div>

