<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <form method="post" action="/mass_pay/pay" class="form-horizontal">
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Receiver Email</label>
        <div class="col-sm-9">
          <input type="email" name="email" class="form-control">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Receiver Amount</label>
        <div class="col-sm-9">
          <input type="number" name="amount" class="form-control" value="10.0">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Unique ID</label>
        <div class="col-sm-9">
          <input type="text" name="uniqueId" class="form-control" value="<%= data.uniqueId %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <% if (data.error) { %>
    <h2>API call Failed</h2>
    <pre class="bg-danger"><code><%= data.errorStr %></code></pre>
    <% } %>

    <% if (data.resultStr) { %>
    <h2>Result</h2>
    <pre class="bg-success"><code><%= data.resultStr %></code></pre>
    <% } %>

    <% if (data.result && data.result.paymentApprovalUrl) { %>
    <a class="btn btn-info" href="<%= data.result.paymentApprovalUrl %>" target="_blank">Redirect to PayPal</a>
    <% } %>
  </div>
</div>

